#titlebar {
    background-color: #D1D1D1;
    color: black;
    overflow: hidden;

    text-align: center;
}

#titlebar-left {
    float: left;
    text-align: left;
}

#titlebar-right {
    float: right;
    text-align: right;
}

#menubar {
    background-color: #E1E1E1;
    text-align: center;
}

#userDropDown {
    position: absolute;
    top: 20px;
    background-color: #D1D1D1;
}

#userDropDown a:active, #userDropDown a:visited, #userDropDown a {
    color: black;
}

#userDropDown a:hover {
    color: black;
    background-color: #a3a3a3;
}

.centre {
    text-align: center;
    margin-left:auto; 
    margin-right:auto;
}

.highlightButton:active, .highlightButton:visited, .highlightButton a {
    color: black;
}

.highlightButton:hover {
    color: black;
    background-color: #a3a3a3;
}

body {
    margin: 0px;
    padding: 0px;
}

.loading {
    background-color: white;
    background-image: url('/client/loader.gif');
    background-repeat: no-repeat;
    background-attachment: local;
    background-position: center;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.error {
    color: red;
}

.panel {
    border: 1px solid;
    border-radius: 3px;
    line-height: 1.231;
    font-family: Verdana,Arial,sans-serif;
    font-style: normal;
    font-size: 13px;
    -webkit-text-size-adjust: none;
    background-clip: padding-box;
    -webkit-background-clip: padding-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: Verdana,Arial,sans-serif;
    font-style: normal;
    font-size: 13px;
    border-color: #c7c7c7;
    background: #fff;
    -moz-border-radius-topleft: 3px;
    -webkit-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
    -moz-border-radius-topright: 3px;
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
    margin-bottom: 10px;
}

.panel-header {
    border-color: #c5c5c5;
    background: #e8e8e8;
    outline: none;
    border-width: 0px;
    border-bottom: 1px solid transparent;
    padding: 5px;
    height: auto;
    white-space: nowrap;
    overflow: hidden;
    -moz-border-radius-topleft: 3px;
    -webkit-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
    -moz-border-radius-topright: 3px;
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
}

.panel-body {
    border-color: #c7c7c7;
    background: #fff;
    -moz-border-radius-bottomleft: 3px;
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    -webkit-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 5px;
}